@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&display=swap");

.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 20px;
	padding: 20px;
}

@media (max-width: 768px) {
	.grid-container {
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	}
}

.homepage-header {
	background-color: black;
	font-family: "Bebas Neue";
	font-weight: bold;
	font-size: 50px;
	letter-spacing: 15px;
	color: white;
	margin: auto;
	line-height: 1em;
	display: flex;
	justify-content: center;
}

.header-subtitle {
	font-family: "Bebas Neue";
	font-size: 30px;
	margin: 2em;
}

.buttonDiv {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 2em;
}

.button {
	display: flex;
}

.itemButton {
	padding: 10px 20px;
	display: block;
	font-weight: bold;
	background-color: white;
}

.itemTitle {
	text-align: center;
}

.flex {
	margin: 4em;
}

.create-form {
	font-family: "Bebas Neue";
	font-size: 30px;
	margin: 2em;
}

.formContent {
	display: flex;
	flex-direction: column;
	margin: 10px;
	width: 60%;
}

input {
	font-size: 20px;
}

.footer {
	background-color: black;
	color: white;
	margin: auto;
	line-height: 1em;
	display: flex;
	justify-content: center;
}
